@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: "solano";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/upc_sgothic-bdcap-webfont.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/public-sans.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Public Sans";
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/public-sans.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "zizou-bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/zizou-slab-bold.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "zizou-regular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/zizou-slab-regular.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?8n8hpa");
    src: url("../fonts/icomoon.eot?8n8hpa#iefix") format("embedded-opentype"),
      url("../fonts/icomoon.ttf?8n8hpa") format("truetype"),
      url("../fonts/icomoon.woff?8n8hpa") format("woff"),
      url("../fonts/icomoon.svg?8n8hpa#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  html,
  body {
    @apply font-publicSans;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-close:before {
    content: "\e915";
  }
  .icon-general:before {
    content: "\e916";
  }
  .icon-globe:before {
    content: "\e917";
  }
  .icon-newtab:before {
    content: "\e918";
  }
  .icon-plane:before {
    content: "\e90e";
  }
  .icon-users:before {
    content: "\e90f";
  }
  .icon-work:before {
    content: "\e910";
  }
  .icon-language:before {
    content: "\e911";
  }
  .icon-graduate:before {
    content: "\e912";
  }
  .icon-flag:before {
    content: "\e913";
  }
  .icon-book:before {
    content: "\e914";
  }
  .icon-edit:before {
    content: "\e90b";
  }
  .icon-phone:before {
    content: "\e90c";
  }
  .icon-wsp:before {
    content: "\e90d";
  }
  .icon-arrow-down:before {
    content: "\e900";
  }
  .icon-arrow-right:before {
    content: "\e901";
  }
  .icon-bell:before {
    content: "\e902";
  }
  .icon-book-open:before {
    content: "\e903";
  }
  .icon-creditcard:before {
    content: "\e904";
  }
  .icon-email:before {
    content: "\e905";
  }
  .icon-file-copy:before {
    content: "\e906";
  }
  .icon-home:before {
    content: "\e907";
  }
  .icon-puzzle:before {
    content: "\e908";
  }
  .icon-user-chat:before {
    content: "\e909";
  }
  .icon-user:before {
    content: "\e90a";
  }
  .icon-download:before {
    content: "\e919";
  }
  .icon-logOut:before {
    content: "\e91a";
  }
  .icon-logOut2:before {
    content: "\e91b";
  }
  .icon-nav:before {
    content: "\e91c";
  }
  .icon-trash:before {
    content: "\e91d";
  }
}


@layer components {
  .fastLink {
    @apply bg-[#0065FF] px-3 py-2 rounded flex justify-between items-center font-solano transition-all duration-300 hover:bg-[#0018F8];

    &-label {
      @apply font-bold text-white uppercase;
    }

    &-code {
      @apply bg-[#AACCFF] flex flex-col justify-start gap-1 px-3 py-1 w-fit rounded-b;

      &__label {
        @apply text-[#404040] text-xs;
      }

      &__activeZone {
        @apply bg-[#5598FF66] px-1 flex items-center gap-1 rounded cursor-pointer transition-all duration-300 hover:bg-[#5598ffb3];

        &--label {
          @apply text-[#404040] text-[10px] leading-none;
        }
      }
    }
  }

  .sidebarMenu {
    &-wrapper {
      @apply flex flex-col gap-6 pt-7;
    }

    &-link {
      @apply flex justify-between items-center cursor-pointer hover:text-[#0043AA] transition-all duration-300;
    }

    &-label {
      @apply flex items-center;

      &__icon {
        @apply mr-3 text-xl;
      }

      &__text {
        @apply text-lg font-bold uppercase font-solano inline-block;
      }
    }

    &-subMenu {
      @apply flex flex-col min-h-0 max-h-0 overflow-hidden transition-all duration-500 ease-in-out;

      &.active {
        @apply max-h-[500px] duration-500 transition-all mt-2;
      }

      &__link {
        @apply pr-5 py-2.5 pl-14 text-sm text-[#404040] hover:bg-[#AACCFFB2] rounded-r-full hover:font-bold hover:text-[#0043AA];
      }
    }
  }

  .triangle:before {
    content: "";
    position: absolute;
    top: -13px;
    left: 14px;
    transform: rotate(90deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent #ffffff transparent transparent;

    @media (min-width: 768px) { 
      top: 50%;
      left: -16px;
      transform: translateY(-50%);
      transform: rotate(0);
      border-width: 12px 24px 12px 0;
     }
  }

  .triangulo-up {
    position: relative;
    width: 20px;
    z-index: 10
  }

  @media screen and (max-width: 560px) {
    .triangulo-up {
      position: absolute;
      right: 0;
      margin-right: 30px;
    }
  }

  .triangulo-up:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 4px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #ffffff;
    rotate: 360deg;
  }

  .text-hover-red:hover {
    color: #E50A17;
  }

  :root {
    --primary: #e50a17;
    --primary-100: #faced1;
    --primary-700: #b70812;
    --primary-900: #89060e;
    --secondary-400: #665586;
    --secondary-100: #e9e7ee;
    --secondary: #35158c;
    --secondary-600: #270b73;
    --secondary-700: #210b4a;
    --tertiary-100: #bfe8ff;
    --tertiary-600: #41a4d9;
    --tertiary-700: #3687b3;
    --base-color: #191919;
    --neutral-1: #f2f2f2;
    --neutral-2: #d9d9d9;
    --neutral-3: #595959;
    --gray-700: #595959;
    --green-10: #b6ffb4;
    --green-30: #359e29;
    --dark-600: #250c52;
  }
}